@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inria+Serif:300,300italic,regular,italic,700,700italic);
#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
/* Обнулення стилів для тегу <button> */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container{
  max-width: 390px;
  padding-bottom: 100px;
  
}
.header{
  background-color: #D9D9D9;
  padding: 0px 32px;
}
.menu{
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 28px 0px;

}
.test-title{
  color: #000;
  font-family: Inria Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-title{
  color: #000;
font-family: Inria Serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
padding-top: 29px;
border-bottom: 1px solid #D9D9D9;
padding-bottom: 7px;
}
.post{
  padding: 0px 32px;
}
.post-content{
  margin-top: 23px;
  padding: 20px 12px 20px 14px;
  border-radius: 15px;
  background: #D9D9D9;
  margin-bottom: 23px;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.post-title{
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.post-description{
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.post-text{
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.post-button{
  text-align: left;
  background: #B3C5CB;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100px;
  height: 30px;
  transition: all 0.3s ease 0s;
}
.post-button:hover{
  background: #8ECBDE;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  margin-top: 30px;
}
.form__input{
  border-radius: 15px;
  background: #D9D9D9;
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 17px;
  border-color: transparent;
}
.input__title{
  height: 48px
}
.input__subtitle{
  height: 69px;
}
.input__description{
  height: 121px;
}

.form.invalid input:invalid {
  border-color: red;
  
 }
.invalid::placeholder{
  color: red;
}
.newpost{
  padding: 0px 32px;
}